.badge:after{
    content:attr(value);
    font-size:12px;
    background: red;
    border-radius:50%;
    margin-left: -15px;
    padding:3px 6px;
    position:relative;
    left:16px;
    top:-10px;
    opacity:0.9;
    }